@charset "utf-8";
/* CSS Document */

        @media screen and (max-width: 768px) {
            #menu-toggle:checked + .nav-menu {
                opacity: 1;
                display: block;
				
            }
			
        }
		

		.img1 {
			font-size: 15px;
			color: darkorange;
			padding-top: 10px;
		}
		.img1:hover{
			color:#B30753 ;
		}
		.txt1 {
			
			color: #2B2829;
			font-size: 18px;
			padding-top: 10px;
		}
		.txt1:hover{
			color:#B30753;
			
		}
		
    .newgame{
      width: 100%;
      height: 50px;
	
     
}

		.read{
			padding-right: 10px;
			
			float: left;
			
		}


    