/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Apr 2017, 8:52:29 AM
    Author     : coz
*/
body {

    header {
        .menu-top {
            z-index: 999;
            height: 70px;
            width: 100%;
            position: fixed;
            background-color: #1c1c1c;
            opacity: 1;
            .nav-menu a {
                padding-left: 20px;
                padding-right: 20px;
                font-size: 14px;
                font-weight: bold;
                font-family: 'PT Sans Narrow', sans-serif;

            }
            .nav-menu a:hover {
                color: #00cc09;
                border-bottom: 5px #00cc09 solid;
                transition: 0.3s;
            }
            .button-login {
                background-color: #1c1c1c;
                border: 2px #e5e5e5 solid;

            }
            a.button.is-primary.button-login:hover {
                border: 2px #00cc09 dashed;
                background-color: #1c1c1c;
                color: #00cc09;
                transition: 0.3s;
            }
        }
    }
}